* {
    font-family: "Press Start 2P", cursive;
    font-size: 20px;
    font-weight: 600;
}

body {
    height: 100vh;
    margin-top: -5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("././assets/img/background_and_header/desert_background.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    width: 720px;
    height: 480px;
}

.d-none {
    display: none;
}

#header {
    height: 200px;
    width: 400px;
}

#control-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    pointer-events: none;
    z-index: 1;
}

canvas {
    background-color: black;
    display: block;
}

.screen-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

#start-screen-wrapper {
    background-image: url("./assets/img/9_intro_outro_screens/start/startscreen_1.png");
    background-position: center;
    background-size: 100% 100%;
}

.music-icon {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    pointer-events: auto;
}

.screen-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 11px;
    right: 48px;
    cursor: pointer;
    pointer-events: auto;
}

#mute-icon {
    z-index: 2;
}

.icon-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-button-container {
    position: absolute;
    right: 50%;
    bottom: 10px;
    transform: translateX(50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.game-button {
    width: 200px;
    height: 50px;
    background-image: linear-gradient(to bottom, #ffff00, #ffa07a);
    border: 2px solid rgb(122, 52, 5);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    color: rgb(122, 52, 5);
    transition: all 0.2s ease-in-out;
}

.game-button:hover {
    color: #ffff66;
    scale: 1.05;
}

#end-screen-wrapper {
    background-image: url("./assets/img/background_and_header/desert_background.png");
    background-position: center;
    background-size: 100% 100%;
}

#game-over-img {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.imprint-container {
    border-radius: 20px;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: rgb(252, 206, 1);

    & a {
        color: rgb(252, 122, 1);
        text-decoration: none;
        cursor: pointer;
    }
}

/* @media only screen and (max-width: 720px) {
}
canvas {
    width: 100%;
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
} */
